#main {
	top:10px;
	left:10px;
}

#main2 {
	top:10px;
	left:960px;
}

.map {
	position:absolute;
	width:900px;
	height:900px;
	border:2px solid grey;
	background:url('../img/canberramap.png');
	background-size: cover;
	background-repeat: no-repeat;
	opacity:0.3;
}
.map1 {
	position:absolute;
	width:900px;
	height:900px;
	border:2px solid grey;
	background:url('../img/map1.png');
	background-size: cover;
	background-repeat: no-repeat;
	opacity:0.6;
}
.map2 {
	position:absolute;
	width:900px;
	height:900px;
	border:2px solid grey;
	background:url('../img/map2.png');
	background-size: cover;
	background-repeat: no-repeat;
	opacity:0.6;
}
#slider { 
	width: 150px; 
	padding-left:20px;
}
#slider .ui-state-default { border: 1px solid #aaaaaa; background: orange; }
#slider .ui-state-default { background-image: url('slider-button.png'); }

#name {
	z-index:10;
	display:none;
/*
	position:relative;
	top:20px;
	left:200px;

	width:120px;
	height:30px;
*/
	border:2px solid red;	
	background-color:white;
	color: red;
	padding:4px;
}
#name p {
	float:top;
	vertical-align:text-top;
}
