


.banner {
	height:400px;
}

.banner-head {
  color:#000;
  background-color:#fff;
}

.banner_p {
  color:#000;
  clear:both;
  text-align: center;
  font-size:18px;
  background-color:#fff;
}

.logos {
  height:45px;
  border: 1px solid #ccc;
  border-radius: 50%;
}


.bgvid {
  width:100%;
}

.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}

.arrowdown {
  width:40px;
}
