/* Devised by Charles Wyke-Smith and presented in his book "Stylin' with CSS", New Riders, 2008 */
/* charles@stylinwithcss.com */
/* a fix for IE6 only - see Star Hack in Stylin' with CSS to see how the comments and * html hide this hack from other browsers \*/
* html * {
	zoom:100%; 
/* triggers IE6 "haslayout" - google 'IE6 haslayout' for details*/
	}
/* without the above hack, IE6 does not draw the header until the page is resized */
/* the problem is triggered by the universal * selector below that resets the margins, but I need to do that, hence the hack */
* {
	margin:0;
	padding:0;
	}
body {
	font: 0.8em Verdana, Arial, sans-serif; /* 1em = 16pts */
}
.float_left {float:left; margin: 0 .3em .3em 0;}      /* apply this class to any image or element with width - text will wrap it to the right */
.float_right {float:right;  margin: 0 0 .3em .3em;} /* apply this class to any image or element with width  - text will wrap it to the left */

/* DEFAULT TAG STYLES - font sizes, margins, padding, etc. */
/* NOTE: text colors follow below */
body {background-color:#FFF;}
#main_wrapper {background-color:#FFF;}
#header {background-color:#fff;}
#nav {background-color:#3D9AD1;}
#content {background-color:#FFFF;}
#promo {background-color:transparent;}
#footer {background-color:#fff;}

h1, h2, h3, h4, h5, h6, ul, ol, dl {
	font-family:  Verdana,  sans-serif;
	} 
/* TEXT COLORS */
h1 {
	color:#000000;
	}
h2, h4, h5 {
	color:#000;
	}
h3 {
	color:#03436A;
}
h4, h5 {
	padding-bottom : 20px;
}

h6 {
	color:#000000;
	}
p {
	color:#000;
	}
ul, ol, dl, blockquote, cite {
	color:#000;
	}
#nav ul, #nav a {
	color:#FFF;
	font-weight: bold;
	
	}
table, form {
	color: #BFBFAC;
	}
a {
	color:#3D9AD1;
	}
a:hover, #nav a:hover {
	color:#FFC073;
	}	
#footer p {
	margin:0;
	}

hr #endline {
	color:#3D9AD1;
	size: 3;
	padding-bottom : 12px;
	padding-top:12px;
}

hr #normal {
	color:#3D9AD1;
	size: 1;
	padding-bottom : 12px;
	padding-top:12px;
	}

/* FONT SIZES */
h1 {font-size:1.5em; /* 24pt */
	}
h2 {font-size:1.375em; /* 22pt */
	line-height:1.25;
	padding:.5em 0 0 0;	
	}
h3 {font-size:1.125em; /* 18pt */
	line-height:1.25;
	}
h4 {font-size:1.125em; /* 18pt */
	}
h5 {font-size:1em; /* 16pt */
	}
h6 {font-size:.875em; /* 14pt */
	}
p  {
	font-size:.4em; /* 12pt */
	line-height:1.25; /* on 15pt */
	margin-bottom:.75em; /* 12pts of space */
 	}
a {
	
	}
a:hover {
	text-decoration:none;
	background-color: Yellow;
	}
	
a  {
	text-decoration:none;
	
	}
}
/* basic list styling - more-styled lists in list.css */
ul, dl, ol {
		margin:0 1em .75em 1em; /* lists without specific classes */
		font-size:1em;
		line-height:1.5;}
li, dd {
		padding:0em 0; /* lists without specific classes */
		margin-left:1em;
		}
#nav ul, #nav dl, #nav ol {
		margin:.5em 1em .75em .5em; /* lists without specific classes */
		}
#nav li {
	list-style-type:none;
	margin-left:0;
	padding-bottom: 5px;
	}
	
dt {font-weight:bold;}

code {font-size:1.25em;}
* html code {font-size:1.1em;} /* default size is smaller in IE */
	
cite {
	font-size:.85em;
	font-style:italic;
	}
blockquote {
	border-top:2px solid;
	border-bottom:2px solid;
	width:50%;
	margin:1em 0 1em 20%;
	padding:.3em 1em;
	}
blockquote p {
	margin-bottom:.1em;
	}
blockquote p:before { /* IDWIMIE 6 and 7 */
	content: open-quote;
	color:#cccc8f;
}
blockquote p:after {  /* IDWIMIE 6 and 7 */
	content: close-quote;
	color:#366;
}
blockquote cite {
	font-size:.85em;
	}
abbr, acronym {
	border-bottom:1px dashed #000;
	cursor:default;
	}
address {
	margin:0 1em .75em 1em;
	}
img {
	border:0;
	}

/* basic table styling  - more-styled tables in tables.css */
table caption {
	font-weight:bold;
	font-size:1em;
	margin-top:.6em;
	}
table {
	margin: .3em 1em 1em 1em;
	border-top:1px solid #069;
	border-collapse:collapse;
	font-size:.8em;
	}
table th	{
	padding: .3em .5em .3em .5em;
	border-bottom:2px solid #069;
	}
table td	{
	padding: .3em .5em .3em .5em;
	border-bottom:1px solid #069;
	}
/* THE ALSETT CLEARING METHOD */
	.clearfix:after {
 content: “.”;
 display: block; 
 height: 0;
 clear: both;
 visibility: hidden;
}
.clearfix {display: inline-table;}
/* backslash hack hides from IE mac \*/ LEAVE THIS COMMENT RIGHT HERE! 
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* end backslash hack */ 
