/* a fix for IE6 only - see Star Hack in Stylin' with CSS to see how the comments and * html hide this hack from other browsers \*/
* html * {
	zoom:100%; 
/* triggers IE6 "haslayout" - google 'IE6 haslayout' for details*/
	}
/* without the above hack, IE6 does not draw the header until the page is resized */
/* the problem is triggered by the universal * selector below that resets the margins, but I need to do that, hence the hack */
* {
	margin:0;
	padding:0;
	}
body {
	font: 1em Lucida, Arial, sans-serif; /* 1em = 16pts */
}
.float_left {float:left; margin: 0 .3em .3em 0;}      /* apply this class to any image or element with width - text will wrap it to the right */
.float_right {float:right;  margin: 0 0 .3em .3em;} /* apply this class to any image or element with width  - text will wrap it to the left */

/* DEFAULT TAG STYLES - font sizes, margins, padding, etc. */
/* NOTE: text colors follow below */
body {background-color:#FFF;}
#main_wrapper {background-color:#FFF;}
#header {background-color:#808073;}
#nav {background-color:#BFBFAC;}
#content {background-color:#FFFFE6;}
#promo {background-color:transparent;}
#footer {background-color:#D9D9C3;}

h1, h2, h3, h4, h5, h6, ul, ol, dl {
	font-family: 'Trebuchet MS', Verdana,  serif;
	} 
/* TEXT COLORS */
h1 {
	color:#FFF;
	}
h2, h3, h4, h5 {
	color:#808073;
	}
h6 {
	color:#000000;
	}
p {
	color:#000;
	}
ul, ol, dl, blockquote, cite {
	color:#808073;
	}
#nav ul, #nav a {
	color:#FFF;
	}
table, form {
	color: #BFBFAC;
	}
a {
	color:#808073;
	}
a:hover, #nav a:hover {
	color:#000;
	}	
#footer p {
	margin:0;
	}

	
/* CLASS:BLUE TAG STYLES - font sizes, margins, padding, etc. */
/* NOTE: text colors follow below */
body.blue {background-color:#FFF;}
.blue #main_wrapper {background-color:#5FD3B3;}
.blue #header {background-color:#6899D3;}
.blue #nav {background-color:#274E7D;}
.blue #content {background-color:#FFF;}
.blue #footer {background-color:#6899D3;}

h1, h2, h3, h4, h5, h6, ul, ol, dl {
	font-family: Verdana,  sans-serif;
	} 
/* CLASS:VIOLET TEXT COLORS */
.blue h1 {
	color:#130873;
	}
.blue h2, .blue h3, .blue h4, .blue h5 {
	color:#2818B1;
	}
.blue h3 {
	color:#E6CFE1;
	}
.blue h6 {
	color:#000000;
	}
.blue p {
	color:#574080;
	}
.blue ul, .blue ol, .blue dl, .blue blockquote, .blue cite {
	color:#6430BF;
	}
.blue cite {
	color:#FFF;
	}
.blue #nav ul, .blue #nav a {
	color:#FFF;
	}
.blue #promo_inner ul, .blue #promo_inner a {
	color:#FFF;
	}
.blue table, .blue form {
	color: #6430BF;
	}
.blue a {
	color:#6430BF;
	}
.blue a:hover {
	color:#AA559A;
	}	
.blue #nav a:hover {
	color:#E6CFE1;
	}

.blue #header h5 {
	color:#fff;
}
.blue #footer p {
	color:#fff;
	}	


/* FONT SIZES */
h1 {font-size:1.5em; /* 24pt */
	}
h2 {font-size:1.2em; /* 22pt */
	line-height:1.15;
	padding:.5em 0 0 0;	
	}
h3 {font-size:1.125em; /* 18pt */
	line-height:1.25;
	}
h4 {font-size:1.125em; /* 18pt */
	}
h5 {font-size:1em; /* 16pt */
	}
h6 {font-size:.875em; /* 14pt */
	}
p  {
	font-size:.9em; /* 12pt */
	line-height:1.25; /* on 15pt */
	margin-bottom:.75em; /* 12pts of space */
 	}
a {
	
	}
a:hover {
	text-decoration:none;
	}
/* basic list styling - more-styled lists in list.css */
ul, dl, ol {
		margin:0 1em .75em 1em; /* lists without specific classes */
		font-size:.9em;
		line-height:1.5;}
li, dd {
		padding:0em 0; /* lists without specific classes */
		margin-left:2em;
		}
#nav ul, #nav dl, #nav ol {
		margin:.5em 1em .75em 1em; /* lists without specific classes */
		}
#nav li {
	list-style-type:none;
	margin-left:0
	}
	
dt {font-weight:normal;}

code {font-size:1.25em;}
* html code {font-size:1.1em;} /* default size is smaller in IE */
	
cite {
	font-size:.55em;
	font-style:italic;
	}
blockquote {
	border-top:2px solid;
	border-bottom:2px solid;
	width:90%;
	margin:1em 0 1em 5%;
	padding:.3em 1em;
	}
blockquote p {
	margin-bottom:.1em;
	}
blockquote p:before { /* IDWIMIE 6 and 7 */
	content: open-quote;
	color:#cccc8f;
}
blockquote p:after {  /* IDWIMIE 6 and 7 */
	content: close-quote;
	color:#366;
}
blockquote cite {
	font-size:.55em;
	}
abbr, acronym {
	border-bottom:1px dashed #000;
	cursor:default;
	}
address {
	margin:0 1em .75em 1em;
	}
img {
	border:0;
	}

/* basic table styling  - more-styled tables in tables.css */
table caption {
	font-weight:bold;
	font-size:1em;
	margin-top:.6em;
	}
table {
	margin: .3em 1em 1em 1em;
	border-top:1px solid #069;
	border-collapse:collapse;
	font-size:.8em;
	}
table th	{
	padding: .3em .5em .3em .5em;
	border-bottom:2px solid #069;
	}
table td	{
	padding: .3em .5em .3em .5em;
	border-bottom:1px solid #069;
	}
/* THE ALSETT CLEARING METHOD */
	.clearfix:after {
 content: “.”;
 display: block; 
 height: 0;
 clear: both;
 visibility: hidden;
}
.clearfix {display: inline-table;}
/* backslash hack hides from IE mac \*/ LEAVE THIS COMMENT RIGHT HERE! 
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* end backslash hack */ 
