body {
				margin-left: 15%; margin-right: 10%
			}
			DIV {
				text-align : center;
				font-family : Arial;
				font-size : small;
				font-weight : bold;
			}

			h1 {
				COLOR: maroon; FONT-FAMILY: Georgia, serif; FONT-SIZE: x-large; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: center; line-height : 1.15em;
			}
			blockquote {
				BACKGROUND-COLOR: #FFFFCE;
				COLOR: black;
				FONT-FAMILY: Georgia, serif;
				FONT-SIZE: 12pt;
				FONT-STYLE: italic;
				MARGIN-LEFT: 50px;
				MARGIN-RIGHT: 50px;
				TEXT-ALIGN: left;
				line-height : 1.3em;
			}
			h2 {
				margin-left: -8%; COLOR: maroon; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: left
			}
			h3 {
				margin-left: -5%; COLOR: navy; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; FONT-SIZE: medium; FONT-STYLE: normal; FONT-WEIGHT: bold; TEXT-ALIGN: left
			}

			h4 {
				color: #CC6600; FONT-FAMILY: Georgia, serif; FONT-SIZE: medium;  TEXT-ALIGN: left; line-height : 1.35em; 
			}

			h5 {
			color: #3E9F43;
	FONT-FAMILY: Georgia, serif;
	FONT-SIZE: medium;
	TEXT-ALIGN: left;
	line-height : 1.35em;
			}
			p {
	COLOR: black;
	FONT-FAMILY: Georgia, serif;
	FONT-SIZE: medium;
	FONT-STYLE: normal;
	FONT-WEIGHT: normal;
	TEXT-ALIGN: left;
	line-height : 1.4em;
}



			li {
		COLOR: black;
		FONT-FAMILY: Georgia, serif;	
		FONT-SIZE: medium;	
		FONT-STYLE: normal;
		FONT-WEIGHT: normal;
		margin-bottom : 0.4em;
		line-height: 1.4em;
}
			
			q {
	font-style : italic;
}
  html{border:0px solid black; margin:0; padding:0px;font-size:0.9em;font-family:arial;width:97%;color:transparent;}
  body{margin:0; padding:0px;background-color:#ffffff;width:97%;page-break-inside: avoid;}} /*page-break-inside: avoid;}*/
  #frame{width:1200px;margin: 100px 100px;}
  a {color:#fff;}
  #legend{float:right;padding:20px;border:0px solid gray;z-index:200;color:#000;}
  .legend {padding-right:5px;border:5px solid white;height:40px;}
  .quali {background-color:#FFEA06;color:#FFEA06;font-size:1.5em;border:25px solid #FFEA06; } 
  .quanti {background-color:#0090D4;color:#0090D4;font-size:1.5em;border:25px solid #0090D4; } 
  .conce {background-color:#EB690B;color:#EB690B;font-size:1.5em;border:25px solid #EB690B; } 
  .exper {background-color:#7AB51D;color:#7AB51D;font-size:1.5em;border:25px solid #7AB51D; } 
  .compus {background-color:#BA4A8A;color:#BA4A8A;font-size:1.5em;border:25px solid #BA4A8A; } 
  .invisible { color:white;}
  span {height:30px;z-index:20;}
  hr, form {display:none;}
  table, tr, td {background-color:#fff;border:0;}
  img, a {background-color:#E2E2E2;width:40%;}
